.landingPageContainer {
  height : 100vh;
  width : 100vw;
  background: url('/public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav{
  display : flex;
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 2rem;
  font-weight: 600;
  cursor: default;
}

.landingPageContainer nav .navList {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;;
  cursor: pointer;
}

.landingPageContainer nav .navList div[role="button"] {
  color: white;
  background-color: #D97500;
  padding: 0.25rem 1.8rem;
  border-radius: 0.3rem;
}

.landingPageContent {
  height: 80vh;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  
}

.landingPageContent > div:nth-child(1) {
  font-size: 1.7rem;
}

.landingPageContent > div:nth-child(2) img {
  height: 70vh;
  width: auto;;
  padding-right: 1rem;
}

.landingPageContent > div:nth-child(1) div[role="button"] {
  width: fit-content;
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
  background-color: #D97500;
  padding: 0.25rem 1.4rem;
  border-radius: 0.3rem;
  font-size: 1.35rem;
  cursor: pointer;
}

.landingPageContent > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-weight : 400;
}

.navList div[role='button'] a {
  text-decoration: none;
  color: white;
}